<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>¡Felicidades, {{user.fullName}}! Tu solicitud está en camino ✉️</h1>
    <h3>{{pet.name}} está muy feliz de tu interés</h3>
    <p>En breve la protectora {{shelter.name}} revisará tu solicitud y te darán noticias sobre el estado de la misma.</p>
    <p>Le damos muchas gracias de parte de toda la organización.</p>
</body>
</html>