<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>⚠️ Se ha perdido una mascota en tu zona. Ayúdanos! ⚠️</h1>
    <h3>Un {{pet.type}} se ha perdido por tu zona.</h3>
    <p>Encuentra todos los detalles de la búsqueda en el siguiente <a href="/pet/{{pet._id}}">enlace</a></p>
    <p>Le damos muchas gracias de parte de toda la organización.</p>
</body>
</html>